.row
  .span12.jumbo
    %h1 Twitter Time Machine
    %p A simpler way to traverse your Twitter history.
    .input-prepend#username-input
      %span.add-on @
      = text_field_tag 'username', '', :class => 'span4'
    %button.btn.btn-large.btn-primary#loading-button Load Tweets